body {margin:0;}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#info {
  position: fixed;
  top:0;
  left:0;
  border:1px solid black;
  padding:10px;
  background:white;
}

#tree {
  height: 100%;
  overflow: auto;
  width: 100%;
  display: inline-block;
}

.tile {
  height:20px;
  width:20px;
  display:inline-block;
  background:lightgray;
  border: 1px solid darkgray;
}

.tile.food {
  background: red;
}

.tile.body {
  background: black;
}

.tile.tail {
  background:purple;
}

.tile.head {
  background: limegreen;
}